## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=4
print(a)

4

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
b=8.5
type(b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [ ]:
nombre = "Lucia Escobedo"

5) Crear una variable que contenga un número complejo

In [5]:
c = 4+4j

complex

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(c)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [ ]:
pi= 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [15]:
d=True
e="True"

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(' d es ', type(d), 'y e es ', type(e),)

 d es  <class 'bool'> y e es  <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
f= 13 + 1.5

11) Realizar una operación de suma de números complejos

In [25]:
g= 4j 
g1= 12j
print(g + g1)

16j

12) Realizar una operación de suma de un número real y otro complejo

In [23]:
h=4j + 12
print(h)

(12+4j)

13) Realizar una operación de multiplicación

In [22]:
i= 5*2
print(i)

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [26]:
j= 2
k=8
print (j**k)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [28]:
l= 27
m=4
print(l/m)

6.75

16) De la división anterior solamente mostrar la parte entera

In [29]:
print(l//m)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
print(l%m)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [34]:
print(4*l/m)

27.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
saludo = 'Holis'
nombre = ' Lucia'
print( saludo + nombre)

Holis Lucia

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [37]:
"2"==2 
#es falso porque "2" es tipo string y 2 es tipo int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [39]:
2== int ('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [41]:
a=float('3,8')
#El error es por la coma, el floar tiene que tener un punto.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [42]:
n=3
n-=1
print(n)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [43]:
1<<2
#el 1 se desplaza 2 lugares a la izquierda y rellena esos lugares con 0

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [44]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
str(2)+str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
print(saludo + nombre*m)

Holis Lucia Lucia Lucia Lucia